.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #027361;
  padding: 30px 50px;

  .logo {
    height: 70px;
  }

  .header__links {
    ul {
      display: flex;
      gap: 20px;
      padding: 0;
      margin: 0;
      list-style: none;
      color: #ffffff;
      font-size: 30px;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}

@media (max-width: 768px) {
  .container__header {

    .header__links {
      ul {
        flex-direction: column;
        gap: 10px;
        font-size: 20px;
      }
    }
  }
}
