.container__new-client {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    color: #ffffff;
    .new-client__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        gap: 10px;
    }

    .mat-mdc-raised-button {
        margin-top: -10px;
        color: #ffffff;
        background-color: #027361;
        width: 100%;
        max-width: 500px;
        height: 50px;

        font-size: 20px;
    }
}